# Compiled output
/target

# Rust/Cargo specific
**/*.rs.bk
Cargo.lock
*.profraw

# Environment variables
.env
.env.*

# IDEs and editors
/.vscode/

# macOS
.DS_Store
.AppleDouble

# Logs and temp files
*.log
*.tmp
*.bak
.vercel
